# üìö Manipulando Dados Gigantes - Parte 2

> __OBSERVA√á√ÉO:__ √© necess√°rio baixar o arquivo compactado no site do **INEP** e descompact√°-lo dentro da pasta 'dataset_ENEM_2023', pois os arquivos necess√°rios para este m√≥dulo est√£o nesse dataset do **INEP**.

- **Dataset:** [ENEM 2023](https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/enem)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset_ENEM_2023/DADOS/MICRODADOS_ENEM_2023.csv', encoding='ISO-8859-1', sep=';', nrows= 10000)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 76 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NU_INSCRICAO            10000 non-null  int64
 1   NU_ANO                  10000 non-null  int64
 2   TP_FAIXA_ETARIA         10000 non-null  int64
 3   TP_SEXO                 10000 non-null  object
 4   TP_ESTADO_CIVIL         10000 non-null  int64
 5   TP_COR_RACA             10000 non-null  int64
 6   TP_NACIONALIDADE        10000 non-null  int64
 7   TP_ST_CONCLUSAO         10000 non-null  int64
 8   TP_ANO_CONCLUIU         10000 non-null  int64
 9   TP_ESCOLA               10000 non-null  int64
 10  TP_ENSINO               3055 non-null   float64
 11  IN_TREINEIRO            10000 non-null  int64
 12  CO_MUNICIPIO_ESC        1657 non-null   float64
 13  NO_MUNICIPIO_ESC        1657 non-null   object
 14  CO_UF_ESC               1657 non-null   float64
 15  SG_UF_ESC               1657 non-null   object
 16  TP_DEPENDENCIA_ADM_ESC  1657 non-null   float64
 17  TP_LOCALIZACAO_ESC      1657 non-null   float64
 18  TP_SIT_FUNC_ESC         1657 non-null   float64
 19  CO_MUNICIPIO_PROVA      10000 non-null  int64
 20  NO_MUNICIPIO_PROVA      10000 non-null  object
 21  CO_UF_PROVA             10000 non-null  int64
 22  SG_UF_PROVA             10000 non-null  object
 23  TP_PRESENCA_CN          10000 non-null  int64
 24  TP_PRESENCA_CH          10000 non-null  int64
 25  TP_PRESENCA_LC          10000 non-null  int64
 26  TP_PRESENCA_MT          10000 non-null  int64
 27  CO_PROVA_CN             7281 non-null   float64
 28  CO_PROVA_CH             7562 non-null   float64
 29  CO_PROVA_LC             7562 non-null   float64
 30  CO_PROVA_MT             7281 non-null   float64
 31  NU_NOTA_CN              7281 non-null   float64
 32  NU_NOTA_CH              7562 non-null   float64
 33  NU_NOTA_LC              7562 non-null   float64
 34  NU_NOTA_MT              7281 non-null   float64
 35  TX_RESPOSTAS_CN         7281 non-null   object
 36  TX_RESPOSTAS_CH         7562 non-null   object
 37  TX_RESPOSTAS_LC         7562 non-null   object
 38  TX_RESPOSTAS_MT         7281 non-null   object
 39  TP_LINGUA               10000 non-null  int64
 40  TX_GABARITO_CN          7281 non-null   object
 41  TX_GABARITO_CH          7562 non-null   object
 42  TX_GABARITO_LC          7562 non-null   object
 43  TX_GABARITO_MT          7281 non-null   object
 44  TP_STATUS_REDACAO       7562 non-null   float64
 45  NU_NOTA_COMP1           7562 non-null   float64
 46  NU_NOTA_COMP2           7562 non-null   float64
 47  NU_NOTA_COMP3           7562 non-null   float64
 48  NU_NOTA_COMP4           7562 non-null   float64
 49  NU_NOTA_COMP5           7562 non-null   float64
 50  NU_NOTA_REDACAO         7562 non-null   float64
 51  Q001                    10000 non-null  object
 52  Q002                    10000 non-null  object
 53  Q003                    10000 non-null  object
 54  Q004                    10000 non-null  object
 55  Q005                    10000 non-null  int64
 56  Q006                    10000 non-null  object
 57  Q007                    10000 non-null  object
 58  Q008                    10000 non-null  object
 59  Q009                    10000 non-null  object
 60  Q010                    10000 non-null  object
 61  Q011                    10000 non-null  object
 62  Q012                    10000 non-null  object
 63  Q013                    10000 non-null  object
 64  Q014                    10000 non-null  object
 65  Q015                    10000 non-null  object
 66  Q016                    10000 non-null  object
 67  Q017                    10000 non-null  object
 68  Q018                    10000 non-null  object
 69  Q019                    10000 non-null  object
 70  Q020                    10000 non-null  object
 71  Q021                    10000 non-null  object
 72  Q022                    10000 non-null  object
 73  Q023                    10000 non-null  object
 74  Q024                    10000 non-null  object
 75  Q025                    10000 non-null  object
dtypes: float64(21), int64(18), object(37)
memory usage: 5.8+ MB

In [4]:
# Criando um novo arquivo csv com nossos dados reduzidos
df.to_csv('dataset_ENEM_2023/DADOS/MICRODADOS_ENEM_2023_REDUZIDO.csv', index= False)

In [5]:
# Trabalhando com o arquivo reduzido e utilizando o m√©todo chunksize
dfc = pd.read_csv('dataset_ENEM_2023/DADOS/MICRODADOS_ENEM_2023_REDUZIDO.csv', encoding='ISO-8859-1', sep=';', chunksize=2500)

In [6]:
for i in dfc:
    print(len(i))

2500
2500
2500
2500