# üìö Manipulando Dados Gigantes - Parte 3

> __OBSERVA√á√ÉO:__ √© necess√°rio baixar o arquivo compactado no site do **INEP** e descompact√°-lo dentro da pasta 'dataset_ENEM_2023', pois os arquivos necess√°rios para este m√≥dulo est√£o nesse dataset do **INEP**.

- **Dataset:** [ENEM 2023](https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/enem)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset_ENEM_2023/DADOS/MICRODADOS_ENEM_2023_REDUZIDO.csv', encoding='ISO-8859-1')

In [3]:
df.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210059085136,2023,14,M,2,1,1,1,17,1,...,C,C,B,B,A,B,B,A,A,B
1,210059527735,2023,12,M,2,1,0,1,16,1,...,B,A,B,B,A,A,C,A,D,B
2,210061103945,2023,6,F,1,1,1,1,0,1,...,B,A,A,B,A,A,A,A,A,B
3,210060214087,2023,2,F,1,3,1,2,0,2,...,A,A,A,B,A,A,D,A,A,B
4,210059980948,2023,3,F,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,A,A

In [4]:
dfc = pd.read_csv('dataset_ENEM_2023/DADOS/MICRODADOS_ENEM_2023_REDUZIDO.csv', encoding='ISO-8859-1', chunksize=2500)

In [5]:
for i in dfc:
    print(len(i))

2500
2500
2500
2500

In [6]:
# dtype -> verifica o tipo da coluna do nosso dataframe
df['NU_ANO'].dtype

dtype('int64')

In [7]:
# O chunksize √© descartado da mem√≥ria depois que foi utilizado por um processo
# Por isso estamos atribuindo a vari√°vel dfc com o processo do par√¢metro chunksize
dfc = pd.read_csv('dataset_ENEM_2023/DADOS/MICRODADOS_ENEM_2023_REDUZIDO.csv', encoding='ISO-8859-1', chunksize=2500)

In [8]:
temp = []

for i in dfc:
    temp.append(i['NU_ANO'] + 1)

In [9]:
temp

[0       2024
 1       2024
 2       2024
 3       2024
 4       2024
         ...
 2495    2024
 2496    2024
 2497    2024
 2498    2024
 2499    2024
 Name: NU_ANO, Length: 2500, dtype: int64,
 2500    2024
 2501    2024
 2502    2024
 2503    2024
 2504    2024
         ...
 4995    2024
 4996    2024
 4997    2024
 4998    2024
 4999    2024
 Name: NU_ANO, Length: 2500, dtype: int64,
 5000    2024
 5001    2024
 5002    2024
 5003    2024
 5004    2024
         ...
 7495    2024
 7496    2024
 7497    2024
 7498    2024
 7499    2024
 Name: NU_ANO, Length: 2500, dtype: int64,
 7500    2024
 7501    2024
 7502    2024
 7503    2024
 7504    2024
         ...
 9995    2024
 9996    2024
 9997    2024
 9998    2024
 9999    2024
 Name: NU_ANO, Length: 2500, dtype: int64]

In [10]:
# Criando uma nova coluna
df['Coluna_Temporaria'] = pd.concat(temp)

In [11]:
df['Coluna_Temporaria']

0       2024
1       2024
2       2024
3       2024
4       2024
        ...
9995    2024
9996    2024
9997    2024
9998    2024
9999    2024
Name: Coluna_Temporaria, Length: 10000, dtype: int64